.categorie {
    cursor: pointer;
}

.cache {
    display: none;
}

#images em[data-a], #suivante, #precedente {
    cursor: pointer;
}

.fav {
    background: url('fav.png') no-repeat;
    display: block;
}

.nofav {
    background: url('nofav.png') no-repeat;
    display: block;
}

#utilisateurs > ul > li, #logins_suivants, #logins_precedents {
    cursor: pointer;
}

.cc {
    height: 20px;
}